{% extends 'base.html.twig' %}

{% block title %}User controller{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Registration:</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary"> Add user</button>
    {{ form_end(form) }}
{% endblock %}